.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ascii-image{
    font-family: 'Roboto Mono', monospace;
    font-size: 3.5px;
    white-space: pre;
    transform: scale(2, 1);

}

#button{
    margin: auto;
}

#player{
    display: none;
}

#canvas{
    display: none;
}
